<!DOCTYPE html>
<html lang="en">
    <head>
        <title>OPTF || Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->
        
        <style>
            body,html {
                 background-image: url('https://i.imgur.com/xhiRfL6.jpg');
                height: 100%;
        }

        #profile-img {
            height:180px;
        }
        .h-80 {
            height: 80% !important;
        }
        </style>
    </head>
    <body>
<div class="container h-80">
<div class="row align-items-center h-100">
    <div class="col-3 mx-auto">
        <div class="text-center">
          
            <img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
            <% errors.forEach(function(message){ %>
                <div class="alert alert-danger text-center"><%=message%></div>
                <% }) %>
            <p id="profile-name" class="profile-name-card"></p>
            <form  class="form-signin" action="/admin" method="POST" >
                
                <input autocomplete="off" type="text" name="username" id="inputPassword" class="form-control form-group" placeholder="username" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control form-group" placeholder="password" required autofocus>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Done</button>
            </form>
        </div>
    </div>
</div>
</div>
    
    </body>
</html>