<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OPTF || About-Us</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="contact.css">

  <style>
      .left{
          float: left;
      }
      .doubleLeft{
          position: relative;
          left: 50px;
          top: 20px;
      }
      .clear{
          clear: both;
      }
      .roundpp {
        vertical-align: middle;
        width: 220px;
        height: 220px;
        border-radius: 50%;
        object-fit: cover;
  
    }

  </style>
</head>
<body>
  <div class="container">
    <h1 class="brand"><a href="/"><span>HOME</span></a></h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3><u>Supervisor</u></h3>
        
        <ul>
            <img style="position: relative; left: 25px;" src="/images/about/sir.jpg" alt="Name" class="roundpp" width="250px">
         <hr>
          <li><b>Name</b>: Pinto Kumar Paul</li>
          <li><b>Email</b>: pinto.kumar07@gmail.com</li>
          <li><b>Department</b>: Computer Science and Engineering</li>
          <li><b>Designation</b>: Lecturer <small>(at Ranada Prasad Shaha University)</small> </li>
        </ul>
      </div>
      <div class="contact">
        <h3><u>About-Us</u></h3>

        <div class="left">
            <img src="/images/about/sintheya.jpg" alt="Name"  width="250px" height="300px">
        </div>

        <p class="doubleLeft">
            <b>Name</b>: Sintheya Islam <br>
            <b>ID</b>: 16100003 <br>
            <b>Email</b>: sanjida.sintheya2514@gmail.com <br>
            <b>Phone</b>: (+880) 17898490708  <br>
            <b>Department</b>: Computer Science and Engineering <br>
            <b>Institute Name</b>: Ranada Prasad Shaha University <br>
        </p>
        <br class="clear">
        <br>
        <hr class="clear">
<br>
        <div class="left">
            <img src="/images/about/sajib.jpg" alt="Name" width="250px" height="300px">
        </div>

        <p class="doubleLeft">
          <b>Name</b>: Sajib Chandra Das <br>
          <b>ID</b>: 16100121 <br>
          <b>Email</b>: sajibchdas225@gmail.com<br>
          <b>Phone</b>:(+880) 1933935525  <br>
          <b>Department</b>: Computer Science and Engineering <br>
          <b>Institute Name</b>: Ranada Prasad Shaha University <br>
      </p>
      


      </div>
    </div>
  </div>
</body>
</html>